<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6WxUdx2Dz4DresOjYp65A-Jl9mMfN3HA</string>
	<key>GCM_SENDER_ID</key>
	<string>219480652359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arcadexit.elearning</string>
	<key>PROJECT_ID</key>
	<string>elearning-b6858</string>
	<key>STORAGE_BUCKET</key>
	<string>elearning-b6858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:219480652359:ios:6f755fa4d395fead360f62</string>
</dict>
</plist>